*{
    margin: 0;
    padding: 0;
}

/* selectores
class .
id #
etiqueta etiqueta*/

body{
    background-color: #a1c9e3;    
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #3498db;
    color: white;
    text-align: center;
    height: 250px;
}

nav{
    background-color: aqua;
    color: darkblue;
    text-align: center;
    height: 100px;
}

li{
    list-style: none;
}

section{
    background-color: beige;
}

footer{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    height: 180px;
    line-height: 180px;
}

a{
    text-decoration: none;
}